<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a routerLink="dashboard" class="navbar-brand text-white"> Smart School </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="alunos" class="nav-link text-white">Alunos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="professores" class="nav-link text-white">Professores</a>
        </li>
      </ul>

      <ul class="navbar-nav" dropdown>
        <li class="nav-item dropdown">
          <a id="button-basic" dropdownToggle class="nav-link dropdown-toggle text-white" role="button" aria-controls="dropdown-menu">
            Dropdown link
          </a>
          <ul class="dropdown-menu" *dropdownMenu aria-labelledby="button-basic" role="menu">
            <li><a routerLink="perfil" class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
